.main-screen {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
}
#clock {
  font-size: 100px;
  font-weight: 700;
}

#greeting {
  font-size: 30px;
  font-weight: 700;
}
.upper {
  height: 33%;
}
.focus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 33%;
}
.focus h2 {
  font-size: 23px;
  margin-bottom: 5px;
  font-weight: 500;
}
