.main-screen {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
}
#clock {
  font-size: 170px;
  font-weight: 700;
}

#greeting {
  font-size: 60px;
  font-weight: 700;
}
.upper {
  height: 33%;
}
.focus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 33%;
}
.focus h2 {
  font-size: 35px;
  margin-bottom: 35px;
  font-weight: 500;
}
.focus-form {
  width: 80%;
}

.focus-form__input {
  width: 100%;
  font-size: 25px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 3px solid white;
}
.focus-form__input:focus {
  outline: none;
}
