.main-screen {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
}
#clock {
  font-size: 170px;
  font-weight: 700;
}

#greeting {
  font-size: 60px;
  font-weight: 700;
}
.upper {
  height: 33%;
}
.upper {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.linkPopUp {
  padding: 20px;
  display: flex;
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  top: 60px;
  left: 50px;
  border-radius: 0px 15px 15px 15px;
  animation: popUp 0.2s ease-out;
}
@keyframes popUp {
  from {
    top: 50px;
    opacity: 0;
  }
}

.lower {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.todoPopUp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  position: absolute;
  width: 300px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 60px;
  right: 50px;
  border-radius: 15px 15px 0px 15px;
  animation: popUp 0.2s ease-out;
  align-items: center;
}
@keyframes popUp {
  from {
    bottom: 50px;
    opacity: 0;
  }
}

.todo-form {
  position: absolute;
  bottom: 20px;
}

.todo-list {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-bottom: 50px;
  align-items: flex-start;
}

.todo-form input {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  color: rgba(195, 196, 198, 1);
  font-size: 20px;
}
.todoPopUp h4 {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}
.todo-list li {
  margin-top: 10px;
}

.todo-list button {
  background-color: white;
  border: none;
  margin-right: 5px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid white;
}

.login-form h2 {
  font-size: 50px;
}
