.top-screen {
  top: 0px;
  position: absolute;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.top-screen__search {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}
.top-screen__search-links {
  opacity: 0.7;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.top-screen__search-links:hover {
  opacity: 1;
}
.top-screen__search-input {
  display: flex;
  align-items: center;
  border-bottom: none;
  height: 35px;
  opacity: 0.6;
  transition: 0.2s ease-in-out;
}
.top-screen__search-input:hover {
  display: flex;
  opacity: 0.8;
  border-bottom: 2px solid white;
}
.top-screen__search-input input {
  margin: 0px 5px;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  border: none;
  height: 35px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}
.top-screen__search-input:has(input:focus) {
  border-bottom: 2px solid white;
  opacity: 1;
}

.top-screen__search-input .search-icons {
  width: 10px;
  height: 10px;
}
.top-screen__weather #weather {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

.top-screen__weather span:last-child {
  font-size: 10px;
}
.fa-magnifying-glass {
  font-size: 15px;
  font-weight: 700;
}
.search-select {
  background: transparent;
  color: white;
  outline: none;
  border: none;
  font-size: 20px;
  opacity: 0;
}
.search-select option {
  color: white;
  transition: 0.4s ease-in-out;
}
.top-screen__search-input:hover select {
  opacity: 0.7;
}

.top-screen__search-input:has(input:focus) select {
  opacity: 0.7;
}
.linkPopUp a {
  color: white;
  outline: none;
  text-decoration: none;
}
